<div ng-controller="MoodController as mood">

<!-- EMOJI FORM -->
<form ng-submit="mood.createMood()">
  <div id="emotions">
    Pick an emoji that best represents your mood:
    <br/>
    <br/>

<!-- one -->
    <input id="one"
           class="mood-select"
           type="radio"
           value="1"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood one"
           for="one">
      <%= image_tag "1.png" %>
    </label>


<!-- two -->
    <input id="two"
           class="mood-select"
           type="radio"
           value="2"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood two"
           for="two">
      <%= image_tag "2.png" %>
    </label>


<!-- three -->
    <input id="three"
           class="mood-select"
           type="radio"
           value="3"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood three"
           for="three">
      <%= image_tag "3.png" %>
    </label>

<!-- four -->
    <input id="four"
           class="mood-select"
           type="radio"
           value="4"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood four"
           for="four">
      <%= image_tag "4.png" %>
    </label>


<!-- five -->
    <input id="five"
           class="mood-select"
           type="radio"
           value="5"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood five"
           for="five">
      <%= image_tag "5.png" %>
    </label>


<!-- six -->
    <input id="six"
           class="mood-select"
           type="radio"
           value="6"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood six"
           for="six">
      <%= image_tag "6.png" %>
    </label>


<!-- seven -->
    <input id="seven"
           class="mood-select"
           type="radio"
           value="7"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood seven"
           for="seven">
      <%= image_tag "7.png" %>
    </label>


<!-- eight -->
    <input id="eight"
           class="mood-select"
           type="radio"
           value="8"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood eight"
           for="eight">
      <%= image_tag "8.png" %>
    </label>


<!-- nine -->
    <input id="nine"
           class="mood-select"
           type="radio"
           value="9"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood nine"
           for="nine">
      <%= image_tag "9.png" %>
    </label>



<!-- ten -->
    <input id="ten"
           class="mood-select"
           type="radio"
           value="10"
           name="mood"
           ng-model = "mood.happiness"/>
    <label class="mood ten"
           for="ten">
      <%= image_tag "10.png" %>

    </label>
    <br/>
    <br/>
</div>
<!-- END OF EMOJI FORM -->

<!-- FACTORS FORM -->

  <!-- Negative Emotions -->
  <div ng-show="mood.happiness == 1 ||
                mood.happiness == 2 ||
                mood.happiness == 3">

    Why are you feeling upset?<br/><br/>

    <textarea type="text"
              ng-model="mood.factorsBlurb">
    </textarea>

  </div>


  <!-- Neutral Emotions -->
  <div ng-show="mood.happiness == 4 ||
                mood.happiness == 5 ||
                mood.happiness == 6">

    How could your day be better?<br/><br/>

    <textarea type="text" ng-model="mood.factorsBlurb">
    </textarea>

  </div>


  <!-- Positive Emotions -->
  <div ng-show="mood.happiness == 7 ||
                mood.happiness == 8 ||
                mood.happiness == 9 ||
                mood.happiness == 10">

    Why was your day so awesome?<br/><br/>

    <textarea type="text" ng-model="mood.factorsBlurb">
    </textarea>

  </div>
<!-- END OF FACTORS FORM -->

<!-- SUBMIT MOOD & FACTORS -->
  <input ng-show="!!mood.happiness &&
                  mood.factorsBlurb.length > 0"
         type="submit"
         value="Submit Your Mood">
</form>
</div>
<!-- END OF FORMS -->





