<!DOCTYPE html>
<html ng-app="moodApp">
<head>
  <title>SENSUS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
  <meta charset="utf-8">  <!-- it's important for d3.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>


  <base href="/"> </base>

</head>
<body>

  <nav>
  <header ng-controller="HeaderController as header">
    <span>
      <h1>
        <!-- logo -->
        <span class="logo">S E N S U S</span>
        <br/>
        <!-- new mood post -->
        <a href="/form" class="headerlink">POST YOUR MOOD</a> |
        <!-- see all mood posts -->
        <a href="/moods" class="headerlink">SEE YOUR MOODS</a> |
        <!-- D3 Mood Chart -->
        <a href="/chart" class="headerlink">MOOD CHART</a> |
        <!-- user page -->
        Welcome, <a href class="headerlink"="#">{{ header.current_user.email }}</a> </h1>
  </header>
  </nav>

  <div ng-controller="WeatherCtrl as ctrl">
    <input type="text"
            placeholder="enter your city"
            ng-model='ctrl.city'
            ng-submit="ctrl.getWeather()" /> <br>
     <button ng-click="ctrl.getWeather()">Get Weather</button>
         <h2>Current Weather For: {{ctrl.weather.name}}</h2>
           <h4>Description: {{ctrl.weather.weather[0].description}}</h4>
        <h4>Temp: {{ctrl.weather.main.temp | kelvinToFar | number:1}} &deg; F / {{ctrl.weather.main.temp | kelvinToCelsius | number:1}} &deg; C </h4>
         <h4>Humidity: {{ctrl.weather.main.humidity}} %</h4>
         <h4>Pressure: {{ctrl.weather.main.pressure}} hpa </h4>

   </div>

<d3Graph></d3Graph>
     <%= yield %>

   <div ng-view>

  </div>



  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graph', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'weather', 'data-turbolinks-track' => true %>

</body>
</html>
